<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/socket.io.js"></script>
  <script src="/javascripts/main.js"></script>
</head>
<h1>
  <%= title %>
</h1>
<p>Welcome to
  <%= title %>
</p>
<div class="mainbuttons">
  <a id="accendi" href="#" onclick="acc()">
    <%= acc %>
  </a>
  <a id="spegni" href="#" onclick="spe()">
    <%= spe %>
  </a>
</div>
</body>

</html>
